:root {

    @mixin light {
      --mantine-color-body: #F9ECD6;
    }
  
    @mixin dark {
      --mantine-color-body: #333;
    }
  }

  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  #root {
    height: 100vh;
    overflow: hidden;
  }

/* Default favicon */
@media (prefers-color-scheme: light) {
  :root {
    --favicon: url('/src/faviconlight.svg');
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --favicon: url('/src/favicondark.svg');
  }
}

@media (prefers-color-scheme: light) {
  link[rel="icon"] {
    content: var(--favicon);
  }
}

@media (prefers-color-scheme: dark) {
  link[rel="icon"] {
    content: var(--favicon);
  }
}

  /* Define your spacing variables here */
  :root {
    --space-xs: 0.25rem;   /* 4px */
    --space-sm: 0.5rem;    /* 8px */
    --space-md: 1rem;     /* 16px */
    --space-lg: 1.5rem;   /* 24px */
    --space-xl: 2rem;     /* 32px */
  }

  :root {
    font-size: 16px;
  }