.navbar {
  height: 100%;
  transition: min-width 0.5s ease; /* Adjust the duration and easing as needed */
  width: 100%;
  position: fixed;
  overflow-y: auto;

  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;


 
  @media (max-width: 1000px) {
    @media (orientation: landscape) {
      /* Ensure the navbar still fits in landscape mode */
      overflow-y: auto; /* Allow scrolling if content doesn't fit */
    }
  }

  padding: var(--mantine-spacing-md);
  display: flex;
  flex-direction: column;
  border-right: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  position: relative;
  /* z-index: 500;  */
  background-color: var(--mantine-color-body); 
  
   
}


.navbarMain {
  flex: 1;
}

.header {

}

.footer {
  
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: var(--mantine-font-size-sm);
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-1));
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-sm);
  font-weight: 500;

  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));

    .linkIcon {
      color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    }
  }

  &[data-active] {
    &,
    &:hover {
      background-color: var(--mantine-color-blue-light);
      color: var(--mantine-color-blue-light-color);

      .linkIcon {
        color: var(--mantine-color-blue-light-color);
      }
    }
  }
}

.linkIcon {
  color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-2));
  margin-right: var(--mantine-spacing-sm);
  width: rem(25px);
  height: rem(25px);
}



.readingButton {
  color: light-dark(var(--mantine-color-gray-9), var(--mantine-color-dark-1));
  background-color: transparent;

}


.readingButton:hover {
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-3)); /* Adjust the colors as needed */
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));

}
