/* For light mode */
:root[data-mantine-color-scheme="light"] {
    --mantine-color-body: #F5F4EE !important;
    --mantine-color-white: #fefdf9 !important; /* Add this line for white color */

    
  }
  /*

  ##F5F4EE
  #f9f8f1
  #fefdf9
  
  */
  
  /* For dark mode */
  :root[data-mantine-color-scheme="dark"] {
    --mantine-color-body: #282827 !important;
  }

